.banner {
    width: 100vw;
    height: 50vh;
    background: url('../obrazky/the-caucasus-5299607_1920.jpg') center/cover no-repeat;
    margin-bottom: 10vw;
}
.card {
    margin: auto;
    width: 20%;
    border-bottom: 5vh;
    padding: 2vh;
    color: rosybrown;
}
.telo {
    background-color: rgb(119, 113, 112);
}
.nechmivzkaz{
    margin-top: 5vh;
}