.banner {
    width: 100vw;
    height: 50vh;
    background: url('../obrazky/the-caucasus-5299607_1920.jpg') center/cover no-repeat;
    margin-bottom: 1vw;
}
.card {
    margin: auto;
    width: 20%;
    border-bottom: 5vh;
    padding: 2vh;
    color: rosybrown;
}
.karty {
    background-color: rosybrown;

}
.nechmivzkaz{
    margin-top: 10vw;
}
.form-group{
    margin: auto;
    width: 50%;
    border-bottom: 5vh;
    padding: 2vh;
}
.nechmivzkaz.text {
    text-align: center;
    border: 3px solid green;
}